* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif, serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    scrollbar-width: none;
    color:#050420;
    scroll-behavior: smooth;
}

.status {
    color: aqua;
}

::-webkit-scrollbar {
    display: none;
}

.rotate {
    transform:rotate(180deg) translateY(70%) !important;
    transition: 0.5s;


}
/* svg */
.st0{fill-rule:evenodd;clip-rule:evenodd;}
.svg-icon {
    width: 1.4em;
    height: 1.4em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.4em;
    height: 1.4em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.4em;
    height: 1.4em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.4em;
  height: 1.4em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.4em;
  height: 1.4em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.4em;
  height: 1.4em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.4em;
  height: 1.4em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/* end svg */
.open{
    transform: translateX(0%) !important;
    transition: 0.5s;

}.menu{
    transition: 0.5s;
    clip-path:circle(100% at 50% 50%) !important;
}.disabled{

    cursor: not-allowed;
    display: none !important;
}
.activeheart{
    fill:tomato !important;
    transition:0.5s;
}
.disabledpost{
    cursor: not-allowed;
    opacity:0.4;
}
.fillnone{
    fill:none
}
.rotatemenu{
        transform:rotate(90deg) !important;
            transition:0.5s;

}.status{
    width:9px;
    height:9px;
    background:lightgreen;
    border-radius:50%;
}
/* loading */

.loading{
display:flex;
justify-content: center;
align-items: center;
width:100%;
height: 100vh;
flex-flow: column;
align-content: space-between
}
.budget{
width: 100px;
height:10%;
margin:2% 0%;
display: flex;
justify-content: space-around;
}

.one ,.tow,.three{
display: inline-block;
width:30%;
height:100%;
border-radius: 100px  100px 100px 100px ;
}.one{
background: tomato;
animation: budg 0.7s  infinite linear;


}.tow{
background: #444b54 ;  
animation: budg .9s  infinite linear;

}
.three{
background: royalblue ;  
animation: budg 1.3s infinite linear;

}.load{
text-transform:uppercase;
font-size:120%;
margin-bottom: 2%;
animation: text 1s 1s infinite linear;
font-family: sans-serif;

}
@keyframes budg {
0%,100%{
  transform: scale(0.7);
  opacity: 0.5;
}50%{
  transform: scaleX(1.6);
  opacity: 1;

}
}@keyframes text{
0%,100%{
  opacity: 0.5;
  transform:skewX(-10deg)
}50%{
  opacity: 1;
 transform:skewX(10deg)

}  
}